@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.jumbotron { margin: 2%;
border: 5px solid black;  
}

body {
	color: #666;
	font-size: 70.5%; /* Base font size is 14px*/
	font-family: sans-serif, 'Verdana';
	line-height: 1.5;
	text-align: center;
}

.body {
	margin: 0 auto;
	width: 70%;
	background-color: #A9A9A9;
	}
	
.mainHeader {
	margin-top: 2%;
}

.mainHeader h1 {
	color: #000000;
	font-size:;
	
}

.underTitle {
	font-style: italic;
	font-family: Special Elite, 'Comic Sans MS';
}

h2 {
  font-family: Special Elite, 'Comic Sans MS';
  color: #000000;
}

#image1 {
  border: 5px solid white;
  width: 90%;
}

.imageContent img {
	width: 100%;
	border-radius: 0px;
	
}

.footnote {
  font-size: 14px;
  font-family:'raleway', 'sans serif';
  text-align: center;
}

.content p {
  text-align: center;
  padding: 1% 5%;
  font-size: 20px;
}


.links {
	display: inline;
}

.external-links{
  margin-top: 2%;
}



.btn {
	background-color: white; 
    color: black; 
    border: 2px solid #666;
	border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
	background-color: #666;
    color: white;
}	

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body {
	width: 90%;
	font-size: 98%;
}

	.external-link2{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0% 0% 0%;
	position: relative;
	width: 92%;
	
}

.external-link1{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto;
	position: relative;
	width: 92%;
	
}
		
	}	