@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
    grid-gap: 0px;
    width: auto;
}

.header_section {
    grid-column: 1/-1;
    background-color: black;
    color: #ffffff;
    text-align: center;
}
.title_page {
    padding: 10px 0 0px 0;
    font-family: 'Alegreya', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#sub_title {
    margin: 5px 0 20px 0;
    font-family: Special Elite, 'Comic Sans MS';
    
    
}
#header_image {
    width: 100%;
    border-radius: 30%;
}
.img_section {
    
    height: auto;
    justify-content: center;
    padding: auto;
}
.early_years {
    background-color: #ffffff;
}
.early_years_img, .body_work_img {
    width: 100%;
}
.text_section {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: 'Alegreya', sans-serif;
    text-align: center;
    padding: 10px 0 30px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#body_work_article, #body_work_aside {
    background-color: #000000;
    color: #ffffff;
}
.timeline {
    grid-column: 1/-1;
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    font-family: 'Alegreya', sans-serif;
}
#timeline_title {
    vertical-align: text-top;
    margin: -70px;
    
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.section_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Alegreya', sans-serif;
    padding: 20px 0 20px 0;
    text-align: center;
}
.timeline_list {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    font-family: 'Alegreya', sans-serif;
    list-style: none;
}
.timeline ul li{
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.content {
    padding-bottom: 20px;
}
.footer {
    text-align: center;
    color: #000000;
    grid-column: 1/-1;
}