* {
    margin: 0;
    padding: 0;
    border: 0;
}
.header_section {
    background-color: #000;
    width: 100%;
}
#header_image{
    width: 100%;
}
.img_section{
    display: inline-block;
    width: 50%;
    height:100%;
    vertical-align: top;
    
}

.text_section{
    display: inline-block;
    width: 49%;
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.title_page {
    text-align: center;
    color: #fff;
}

.section_title {
    text-align: center;
}

.early_years, .timeline {
    width: 100%;
    background-color: #fff;
    height:800px;
    color: #000;
    font-size: 0%;
}
.early_years_img {
    width: 100%;
    height: auto;
}

.body_work {
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 1000px;
}

.body_work_img {
    max-width: 100%;
    height: auto;
    width: auto;
   
}

#body_work_aside {
    height: 100%;
   
}
p {
    font-size: 120%;
    line-height: 150%;
    padding: 2%;
    text-align: justify;
}
article {
    float: left;
    margin: 0 auto;
}

aside {
    float: right;
    margin: 0 auto;
}